header nav a:nth-of-type(3) {
    color: var(--accent);

    pointer-events: none;
}

main {
    width: 100%;
}

.intro {
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background:
        linear-gradient(to right, rgba(20, 40, 20, 0.95), rgba(20, 40, 20, 0.35)),
        url("/src/assets/img-1.png") center / cover no-repeat;

    background-position: center 30%;

    color: var(--bg-warm);
}

.location {
    height: calc(100dvh - 70px);
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 40px;
    gap: 40px;
}

.gmaps {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.pics {
    width: 80%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    gap: 20px;
    padding: 20px;
}

.pics img {
    width: 500px;
    height: auto;

    border-radius: 10px;
}
